<div class="container-fluid d-flex">
    <div class="card border-0" style="width: 50rem;">
      <div class="card-body">
        <p class="text-info-emphasis">Fiction, history, Crime</p>
        <h5 class="card-title">{{ randomPosts[0].title }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Reactions: {{ randomPosts[0].reactions }}</h6>
        <p class="card-text">{{ randomPosts[0].body }}</p>
        <a href="#" class="card-link">Leggi di più...</a>
      </div>
    </div>
    <div class="card ms-5 border-0" style="width: 50rem;">
      <div class="card-body">
        <p class="text-info-emphasis">Mystery, English, Love</p>
        <h5 class="card-title">{{ randomPosts[1].title }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Reactions: {{ randomPosts[1].reactions }}</h6>
        <p class="card-text">{{ randomPosts[1].body }}</p>
        <a href="#" class="card-link">Leggi di più...</a>
      </div>
    </div>
  </div>
  