
#bottoni button {
    margin-right: 1%;
    padding: 3%;
    cursor: pointer;
    color: $textColor;
    border-radius: 5px; 
   
}

#bottone1 {
    background-color: $coloreBotton1;
}

#bottone2 {
    background-color: $coloreBotton2;
}

#bottone3 {
    background-color: $coloreBotton3;
}