<div class="container mt-4">
    <h2 class="text-center mb-4">Film più votati e popolari</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <ng-container *ngFor="let movie of topMovies.concat(popularMovies)">
            <div class="col">
                <div class="card h-100">
                    <img *ngIf="movie.poster_path" [src]="urlmg + movie.poster_path" class="card-img-top" alt="Movie Poster">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text text-limit">{{ movie.overview }}</p>
                        <button class="btn btn-outline-danger" (click)="addToFavorites(movie)">
                            <span *ngIf="isFavorite(movie); else notFavorite">&#9829;</span>
                            <ng-template #notFavorite>Add to Favorites</ng-template>
                          </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
