@import '_colori.scss';

#testata {
    display: flex;
    justify-content: space-between;
}
#container {
   margin-right: 50%;
}

#container p{
    color :$textColor;
    margin-top: -5%;
    width: 90%;
}
#container h2 {
    font-size: 4em;
    width: 50%;
}

