<div class="container-fluid bg-black mt-5">
<div class="row">
    <div class="col-3 d-flex flex-column text-center ">
      <div class="container ">
            <img src="../../../assets/imgs/logo.png">
            <h4 class="text-white">Il tuo autosalone di fiducia</h4>
            <address>
                <ul class="text-white list-unstyled">
                    <li> Via Tal dei Tali 25</li>
                    <li> 00100 Torino</li>
                    <li>01124567845</li>
                    <li><a href="mailto:info@example.com">info@autorent.auto</a></li>
                </ul>
            </address>
        </div>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-center px-5">
        <a [routerLink]="['/home']" routerLinkActive="active" class="fs-5 text-white border-end px-4">Home</a>
        <a [routerLink]="['/fiat']" routerLinkActive="active" class="fs-5 text-white border-end px-4">Fiat</a>
        <a [routerLink]="['/ford']" routerLinkActive="active" class="fs-5  text-white border-end px-4">Ford</a>
        <a [routerLink]="['/audi']" routerLinkActive="active" class="fs-5 text-white px-4">Audi</a>
    </div>
    
  
    <div class="col-3 d-flex flex-column align-items-center justify-content-center">
        <h4 class="text-white ">Link Utili</h4>
        <ul class="list-unstyled">
            <li><a href="#">Termini e condizioni</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </div>
    

</div>
</div>