<div class="container d-flex mt-4">
  <div class="col-8 flex-column">
    <app-jumbotron></app-jumbotron>
    <app-mainarticle></app-mainarticle>

    <app-single-post  *ngFor="let post of posts" [post]="post">
        <div class="d-flex flex-column">
            <input type="text" [(ngModel)]="post.title" class="card-title form-control">
            <textarea cols="25" rows="5" class="card-text form-control" [(ngModel)]="post.body"></textarea>
            <button class="btn btn-success mt-2">Save</button>
        </div>


    </app-single-post>
  </div>
  <div class="col-4 mt-5">
    <app-plusarticle></app-plusarticle>
  </div>
</div>
